/*
    Theme: OGB Theme
    Author: Emilia 
*/

body, *{
    font-family: 'Montserrat', sans-serif;
}

/* 
header {
    width: 100%;
    height: 75px;
    background: #FF6347;
    background: #FF7F50;
    background: #f4623a;
} */

header {
    background-image: url('./img/office-header.jpg') !important;
}

.navigation{
    list-style-type: none;
    margin-bottom: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.navigation li {
    display: inline-block;
    margin: 10px 15px;
}

.navigation li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

h1.page-title {
    text-align: center;
    margin-top: 42px;
    text-transform: uppercase;
}

h1.page-title hr {
    width: 20%;
    color: #000;
    text-align: center;
    border-top: 3px solid;
}

.badge-term {
    padding: 10px;
    font-size: 12px;
}

.archive-row {
    flex-direction: row;
    align-items: center;
}

.f-results {
    color: #7a7a7a;
    text-transform: lowercase;
    font-weight: 200;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #212529;
    }
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.m-t-100 {
    margin-top: 120px;
}

.meet-btn {
    margin-top: 20px;
}

.page-section-custom {
    padding: 0;
}

.team-member-social {
    margin: 20px 0;
    text-align: center;
}

.team-member-info .custom-field {
    margin: 10px 0;
    font-size: 18px;
}

.team-member-info .custom-field .label {
    text-transform: uppercase;
    margin-right: 5px;
}

.team-member-info .custom-field .value {
    font-weight: 600;
}